{% extends 'homepage.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}    
<style>
        body
        {
            background-image:url('{%static "bgtrain" %}');
            background-size:100%;
            background-repeat:no-repeat;

        }
    </style>
</head>
{%block body%}
<body>
    <center>
        <table style="border-collapse:separate;border-spacing: 10px;padding: 50px;border: 1px solid black;text-align: center;background-color:yellow;
        color: black;">
            <tr>
                <b>
                <th>Train ID</th>
                <td>Departure Station</th>
                <th>Arrival Station</th>
                <th>Boarding(Date/Time)</th>
                <th>Arrival(Date/Time)</th>
                <th>Number of Seats</th>
                <th>Cost Per Seat</th>
                <th>Total Cost</th>
                </b>
            </tr>
{% for o in query %}
<form method="POST" action="/book">
    {% csrf_token %}
    <tr style="padding: 5px;"> 
        <td><input type="text" name="tid" value="{{ o.train_id }}" style="background: yellow;border: none;" readonly></td>
        <td><input type="text" name="dstation" value="{{ o.departure_station }}" style="background: yellow;border: none;" readonly></td>
        <td><input type="text" name="astation" value="{{ o.arrival_station }}" style="background: yellow;border: none;" readonly></td>
        <td><input type="text" name="d_date" value="{{ o.departure_date }}" style="background: yellow;border: none;" readonly></td>
        <td><input type="text" name="a_date" value="{{ o.arrival_date }}" style="background: yellow;border: none;" readonly></td>
        <td><input type="text" name="num_seats" value="{{ num }}" style="background: yellow;border: none;" readonly></td>
        <td><input type="text" name="cost" value="{{ o.cost }}" style="background: yellow;border: none;" readonly></td>
        <td><input type="text" name="tcost" value="{% widthratio o.cost 1 num  %}" style="background: yellow;border: none;" readonly></td>
        <td><input type="submit" value="book" name="submit"></td>
    </tr>
</form>
{% endfor %}
</body>
{%endblock body%}
</html>